.page{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

.secondMain{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-top: 20px;
}