.footer {
    width: 100vw;
    height: 24.2vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links_div, .title_div {
    margin: 10px 100px;
     
}

.links_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 20.833vw;
    
}


.title_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  

}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 10px 0px;
    
}

.links a {
    color: #565656;
    text-decoration: none;
    font-weight: 400;
    margin: 3px 0px;
    
}