.history {
    background-color: #760e0e9d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    color: #fff;
    height: 400px;
    width: 280px;
    align-self: center;
    margin: 100px 0px 0px 0px;
    border-radius: 15px;
    

}

.history_title {
    margin: 10px 0px 0px 0px;
    font-size: 30px;
}

.history_div{
    display: flex;
    flex-direction: column;
    
    width: 70%;
    font-size: 25px;

}

.history_div p{
    margin: 10px 0px;
}